<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <meta charset="UTF-8">
    <title>Głowna</title>
</head>
<body>
<div class="game-detail">

    <div class="game-detail__header">
        <h1>Board Game Collection</h1>
    </div>

    <nav class="main-menu">
        <a href="{% url 'game_list' %}" class="menu-card">
            🎮 Lista gier
        </a>

        <a href="{% url 'game_create' %}" class="menu-card">
            ➕ Dodaj grę do katalogu
        </a>
    </nav>

</div>
</body>
</html>