<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <meta charset="UTF-8">
    <title>Lista gier</title>
</head>
<body>
<div class="game-detail">

    <div class="game-detail__header">
        <h1>Lista Gier</h1>
    </div>

    <ol class="game-list">
        {% for game in games %}
            <li>
                <a class="game-card ui-card game-card-link"
                   href="{% url 'game_detail' game.pk %}">
                    {{ game.title }}
                </a>
            </li>
        {% empty %}
            <li class="text-warning">Brak gier w bazie</li>
        {% endfor %}
    </ol>

    <div class="game-detail__actions game-detail__actions--center">
        <a href="{% url 'game_main' %}" class="back-link">
            ← Wróć
        </a>
    </div>

</div>

</div>
</body>
</html>