<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <meta charset="UTF-8">
    <title>Usuwanie gry</title>
</head>
<body>
<div class="game-detail">

    <div class="game-detail__header">
        <h1>Usuń grę: {{ game.title }}</h1>
    </div>

    <p class="text-warning">
        Czy na pewno chcesz usunąć tę grę?
    </p>

    <form method="POST">
        {% csrf_token %}

        <div class="game-detail__actions">
            <button type="submit" class="btn btn--danger">
                Tak, usuń
            </button>

            <a href="{% url 'game_detail' game.pk %}" class="back-link">
                Anuluj
            </a>
        </div>

    </form>

</div>
</div>
</body>
</html>