<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <meta charset="UTF-8">
    <title>Detale Gry</title>
</head>
<body>
    <h1>{{game.title}}</h1>
    <p>Rok wydania: {{game.release_year}}</p>
    <p>Wydawca: {{game.publisher}}</p>

    <p>Minimalna liczba graczy: {{game.min_players}}</p>
    <p>Maksymalna liczba graczy: {{game.max_players}}</p>
    <p>Minimalny czas gry (minuty): {{game.min_time}}</p>
    <p>Maksymalny czas gry (minuty): {{game.max_time}}</p>
    <p>Minimalny wiek: {{game.min_age}}</p>

    <p>Gatunki: {% for genre in game.genres.all %}
    {{ genre.name }}
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>

    <p>Opis: {{game.description}}</p>
    <p>Dodaj recenzje: <a href="{% url 'add_review' game.pk %}">Tutaj</a></p>

    <p>Recenzje: <a href="{% url 'game_reviews' game.pk %}">Zobacz wszystkie recenzje</a></p>

    <p><a href="{% url 'game_delete' game.pk%}">Usuń grę</a></p>

    <p>Okładka: </p>
    <img src="{{ game.image.url }}" alt="{{ game.title }}">

    <p><a href="{% url 'game_list' %}">Wróć</a></p>

</body>
</html>