<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <meta charset="UTF-8">
    <title>Dodaj recenzję</title>
</head>
<body>
<div class="game-detail">

    <div class="game-detail__header">
        <h1>Dodaj recenzję do {{ game.title }}</h1>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="buttons">
            <button type="submit">Zapisz</button>
            <a href="{% url 'game_detail' game.pk %}" class="btn btn--outline">Wróć</a>
        </div>
    </form>

</div>
</body>
</html>
