<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <meta charset="UTF-8">
    <title>Dodawanie Recenzji</title>
</head>
<body>
    <h1>Dodaj recenzje do {{game.title}}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="buttons">
            <button type="submit">Zapisz</button>
            <a href="{% url 'game_detail' game.pk %}" class="back-link">Wróć</a>
        </div>
    </form>
</body>
</html>